@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}


.container {
  max-width: 80%;
  margin: 30px auto;
  overflow: auto;
  min-height: 100%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  padding: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
}

.bodyTxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}


/* round button for coffee*/
.rbtn {
  border: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  height: 150px;
  width: 150px;
  padding: 2%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 1000;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.rbtn:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(255, 27, 27, 0.726);
  color: #fff;
  transform: translateY(-7px);
}

/* .rbtn:focus {      
  box-shadow: 0px 15px 20px rgba(245, 29, 22, 0.959);
} */


/* round button for temp*/

.rbtnTemp {
  border: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  height: 150px;
  width: 150px;
  padding: 2%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 1000;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.rbtnTemp:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(255, 27, 27, 0.726);
  color: #fff;
  transform: translateY(-7px);
}

/* .rbtnTemp:focus {      
  box-shadow: 0px 15px 20px rgba(245, 29, 22, 0.959);
} */